*{
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    margin: 0;
    padding: 0;
}

body{
    color: #263138;
}

header{
    background: color #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
header a{
    color: #FFFF;
    font-weight: 600;
    padding: 17px;
    text-decoration: none;
}

h1{
    color: #ff9a6c;
}

#inicio{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80 128px 80px;
    position: relative;
}

h1,
h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;

}

.paragrafo{
    line-height: 150%;
    margin-bottom: 32px;
}
.button{
    background-color:#FF725E;
    border-radius:8px;
    color: white;
    /* vertical, horizontal*/
    padding: 16px 32px;
    text-decoration: none;
}

.botão-trasparente{
    background-color: transparent;
    color:#FF725E;
    padding: 16PX 32PX;
    text-underline-offset: 4px;
}
.absoluto{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    z-index: -10;
}

#clinica{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica li{
    margin-bottom: 16px;
    margin-left: 32px;

}

#farmacia{
    padding: 64px 80px;
    text-align: center;

}

#famacia img{
    margin: 64px auto;

}

#farmacia.paragrafo{
    max-width: 950px;
    margin: 0 auto;
}

#duvidas{
    display:flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
    text-align: justify;
}

.duvida{
    position: relative;
}

.duvida h3{
    border: 2px solid #FF725E;
    border-radius: 8px;
    cursor:pointer;
    padding: 24px;
}
.duvida img{
    position: absolute;
    top:32px;
    right: 24px;
}

.duvida.paragrafo{
    border-right: 1px solid #FF725E;
    border-bottom: 1px solid #FF725E;
    border-left: 1px solid #FF725E;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 24px;
}

footer{
    background-color: rgba(255,152,108,0.25);
    display: flex;
    gap: 80px;
    padding: 64px 80px;

}

footer img,
footer.titulo{
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a{
    color: #263138;
    display: block;
    text-decoration: none;
    max-width: 350px;
}

footer p{
    margin-bottom: 160px;
}


footer p a{
    color: #FF725E;
    text-decoration: none;
}